<table id="apprenticeshipsTable"
       data-toggle="table"
       style="table-layout: fixed">
    <caption>Apprenticeships pause/resume confirmation table</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col"
            class="col-wrap"
            data-field="id"
            data-visible="true"
            data-width="10"
            data-width-unit="%">
            Id
        </th>
        <th scope="col"
            class="col-wrap"
            data-field="accountId"
            data-visible="false">
        </th>
        <th scope="col"
            class="col-wrap"
            data-field="uln"
            data-width="10"
            data-width-unit="%">
            Uln
        </th>
        <th scope="col"
            class="col-wrap"
            data-field="firstName"
            data-width="10"
            data-width-unit="%">
            First name
        </th>
        <th scope="col"
            class="col-wrap"
            data-field="lastName"
            data-width="10"
            data-width-unit="%">
            Last name
        </th>
        <th scope="col"
            class="col-wrap"
            data-field="employerName"
            data-width="10"
            data-width-unit="%">
            Employer name
        </th>
        <th scope="col"
            class="col-wrap"
            data-field="providerName"
            data-width="10"
            data-width-unit="%">
            Provider name
        </th>
        <th scope="col"
            class="col-wrap"
            data-field="ukprn"
            data-width="10"
            data-width-unit="%">
            Ukprn
        </th>
        <th scope="col"
            class="col-wrap"
            data-sortable="true"
            data-field="courseName"
            data-width="10"
            data-width-unit="%">
            Course name
        </th>
        <th scope="col"
            class="col-wrap"
            data-field="startDate"
            data-formatter="dateFormatter"
            data-width="10"
            data-width-unit="%">
            Start date
        </th>
        <th scope="col"
            class="col-wrap"
            data-field="endDate"
            data-formatter="dateFormatter"
            data-width="10"
            data-width-unit="%">
            End date
        </th>
        <th scope="col"
            class="col-wrap"
            data-field="status"
            data-width="10"
            data-width-unit="%"
            data-formatter="actionFieldFormatter">
            Status
        </th>
    </tr>
    </thead>
</table>