@{
    ViewData["Title"] = "Error";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            There's been an error
        </h1>
        <p class="govuk-body">
            This error has been logged and will be investigated.
        </p>
    </div>
</div>