@{
    @model UserViewModel
    @using SFA.DAS.Tools.Support.Web.Configuration
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="GET">
            <button asp-controller="Support" asp-action="index" class="govuk-button" data-module="govuk-button" id="backButton">Back</button>
        </form>
        <h1 class="govuk-heading-l">
            Search for an Employer.
        </h1>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with this form.
                </span>
            </summary>
            <div class="govuk-details__text">
                Use the form below to retrieve the users for an employer. Select one or more rows from the results returned and click the Suspend button to continue.
            </div>
        </details>
        <div id="searchFormContent">
            <div asp-validation-summary="ModelOnly" id="searchFormValidationSummary" class="govuk-error-message"></div>
            <form method="POST" id="searchForm">
                <div class="govuk-form-group">
                    <label asp-for="AccountId" class="govuk-label">
                        Employer Account Id
                    </label>
                    <span id="account-id-hint" class="govuk-hint">
                        The hashed ID of the employer account.
                    </span>
                    <input asp-for="AccountId" id="accountId" name="accountId" class="govuk-input govuk-input--width-20" />
                </div>
                <div class="govuk-form-group">
                    <button class="govuk-button" data-module="govuk-button" id="submitSearchFormButton">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="searchResults" style="display:none;">
    <form id="searchResultsForm" method="POST" asp-route="@RouteNames.SuspendUsers">
        <table id="usersResultsTable"
               data-toggle="table"
               data-pagination="true"
               data-page-list="[10, 25, 50]"
               data-search="true"
               data-click-to-select="true"
               data-sortable="true"
               data-side-pagination="client"
               data-id-field="UserRef"
               data-checkbox-header="true"
               data-select-item-name="UserRef"
               data-maintain-meta-data="true"
               style="table-layout: fixed">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col"
                        class="col-wrap"
                        data-field="userRef"
                        data-visible="false">
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-field="state"
                        data-checkbox="true"
                        data-width="5"
                        data-width-unit="%">
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="name"
                        data-width="10"
                        data-width-unit="%">
                        Name
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="email"
                        data-width="10"
                        data-width-unit="%">
                        Email
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="role"
                        data-width="10"
                        data-width-unit="%">
                        Role
                    </th>                   
                </tr>
            </thead>
        </table>
        <input type="hidden" id="accountId" name="AccountId" />
        <input type="hidden" id="selectedIds" name="SelectedIds" />
        <input type="hidden" id="userData" name="UserData" />

        <button class="govuk-button" data-module="govuk-button">Suspend</button>
    </form>
</div>

<div class="govuk-grid-row" id="searchUsersError" style="display:none;"></div>

@section Scripts
{
    <script type="text/javascript">
        var selections = [];

        $(document).ready(function () {
            var table = $('#usersResultsTable');

            $('#submitSearchFormButton').on('click', function (evt) {

                evt.preventDefault();
                $(this).prop("disabled", true);
                $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
                resetSearchResults();

                $.post('@Url.Action("Index","EmployerAccountData")', $('#searchForm').serialize(), function (data) {
                    $('#submitSearchFormButton').prop("disabled", false);
                    $('#submitSearchFormButton').html("Submit");
                    if (data.errorTitle != null) {
                        var errorHtml = '<h4>' + data.errorTitle + '</h4><p>' + data.errorMessage + '</p>';
                        $('#searchUsersError').html(errorHtml).show();
                        $('html,body').animate({ scrollTop: $('#searchUsersError').offset().top }, 'slow');
                    } else {
                        table.bootstrapTable('load', data);
                        $('#searchResults').show();
                        $('html,body').animate({ scrollTop: $('#usersResultsTable').offset().top }, 'slow');
                    }
                });
            });

            $('#searchResultsForm').submit(function () {

                var idList = $.map(table.bootstrapTable('getSelections'), function (row) {
                    return row.userRef;
                }).join(", ");

                var selectedRows = table.bootstrapTable('getSelections');

                if (selectedRows.length == 0) {
                    return false;
                }

                $('#searchResultsForm #accountId').val($('#searchForm #accountId').val());
                $('#searchResultsForm #selectedIds').val(idList);
                $('#searchResultsForm #userData').val(JSON.stringify(selectedRows));

                return true;
            });
        });

        function resetSearchResults() {
            $('#searchResults').hide();
            $('#searchUsersError').hide();
        }
        
    </script>
}
