@{
    ViewData["Title"] = "Home";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Apprenticeship service bulk stop utility</h1>
        <p class="govuk-body">Apprenticeship service support staff can use this service to:</p>
        <ul class="list list-bullet">
            <li>pause apprenticeships</li>
            <li>resume apprenticeships</li>
            <li>stop apprenticeships</li>
            <li>reinstate user accounts</li>
        </ul>
        <p class="govuk-body">You’ll need a DfE Sign-in account to use this service. If you don’t have a DfE Sign-in account, you can create one at the next step.</p>
        <div class="form-group">
            <a href="/support" class="govuk-button right" title="Start now" aria-label="Start now">Start now</a>
        </div>
    </div>
</div>