@{
    ViewData["Title"] = "Home";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            DAS Tools Support
        </h1>
    </div>
</div>