@model IndexViewModel
@using SFA.DAS.Tools.Support.Web.Configuration
@inject ToolsSupportConfig Config;
@{
    ViewData["Title"] = "Support Portal";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            DAS Tools Support
        </h1>
        <dl class="govuk-summary-list">
            @if (Config.EnableSupportConsoleFeature)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Employer Support Tool
                    </dt>
                    <dd class="govuk-summary-list__value">
                        This tool gives access to view employer details to help support with queries relating to user accounts.
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a id="employerSupport" asp-controller="EmployerSupport" asp-action="Index" class="govuk-link">
                            Open<span class="govuk-visually-hidden"> Employer Support Tool</span>
                        </a>
                    </dd>
                </div>
            }
            @if (Model.HasTier3Account)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Pause apprenticeship(s)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        This tool sends a pause command to approvals to update the commitments database and subsequently payments.
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a id="pauseApprenticeship" asp-controller="SearchApprovals" asp-action="SearchApprenticeships" asp-route-act="pause" class="govuk-link">
                            Open<span class="govuk-visually-hidden"> Pause apprenticeship(s)</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Resume apprenticeship(s)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        This tool sends a resume command to approvals to update the commitments database and subsequently payments.
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a id="resumeApprenticeship" asp-controller="SearchApprovals" asp-action="SearchApprenticeships" asp-route-act="resume" class="govuk-link">
                            Open<span class="govuk-visually-hidden"> Resume apprenticeship(s)</span>
                        </a>
                    </dd>
                </div>
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Stop apprenticeship(s)
                </dt>
                <dd class="govuk-summary-list__value">
                    This tool sends a stop command to approvals to update the commitments database and subsequently payments.
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a id="stopApprenticeship" asp-controller="SearchApprovals" asp-action="SearchApprenticeships" asp-route-act="stop" class="govuk-link">
                        Open<span class="govuk-visually-hidden"> Stop apprenticeship(s)</span>
                    </a>
                </dd>
            </div>
            @if (Model.HasTier3Account)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Suspend User account(s)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        This tool suspends selected user accounts so they cannot login to the service
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a id="suspendUser" asp-controller="SearchUser" asp-action="Index" asp-route-act="@ActionNames.Suspend" class="govuk-link">
                            Open<span class="govuk-visually-hidden"> Suspend user account(s)</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reinstate User account(s)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        This tool reinstates selected user accounts so they can login to the service
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a id="reinstateUser" asp-controller="SearchUser" asp-action="Index" asp-route-act="@ActionNames.Resume" class="govuk-link">
                            Open<span class="govuk-visually-hidden"> Reinstate user account(s)</span>
                        </a>
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>