@{
    ViewData["Title"] = "Support Portal";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            DAS Tools Support
        </h1>
        <p>You have been logged out, please close the window or return to <a asp-controller="Home" asp-action="Index" class="govuk-link">Das Tools Support</a></p>
    </div>
</div>