@model SFA.DAS.Tools.Support.Web.Models.EmployerSupport.CommitmentUlnSearchViewModel
@{
    ViewData["Title"] = "View Apprenticeship Details";
}

<div class="govuk-grid-column-two-thirds">

    Details here
</div>
