@{
    ViewData["Title"] = "Support Portal";
    @model SearchApprenticeshipsViewModel
    @using SFA.DAS.Tools.Support.Web.Configuration
}

<style>
    #loading {
        display: none !important;
    }

    body.busy #loading {
        display: block !important;
    }

    #apprenticeshipResultsTable td {
        overflow-wrap: anywhere;
    }

    #searchApprenticeshipsError {
        color: red;
    }

    .govuk-width-container {
        max-width: unset;
        margin-right: 30px;
        margin-left: 30px;
    }
</style>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Search for an apprenticeship to stop.
        </h1>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with this form.
                </span>
            </summary>
            <div class="govuk-details__text">
                Fill out the form below to search for apprenticeships to stop. At least one field needs to be populated to submit the search. Select one or more rows from the results returned and click the stop apprenticeships button to continue.
            </div>
        </details>
        <div id="searchFormContent">
            <div asp-validation-summary="ModelOnly" id="searchFormValidationSummary" class="govuk-error-message"></div>
            <form method="post" id="searchForm">
                <div class="govuk-form-group">
                    <label asp-for="EmployerName" class="govuk-label">
                        Employer name
                    </label>
                    <span id="employer-name-hint" class="govuk-hint">
                        The name of the employer for the apprenticeship.
                    </span>
                    <input asp-for="EmployerName" id="employerName" class="govuk-input govuk-input--width-20" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="ProviderName" class="govuk-label">
                        Provider name
                    </label>
                    <span id="provider-name-hint" class="govuk-hint">
                        The name of the provider for the apprenticeship.
                    </span>
                    <input asp-for="ProviderName" id="providerName" class="govuk-input govuk-input--width-20" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="Ukprn" class="govuk-label">
                        Ukprn
                    </label>
                    <span id="ukprn-hint" class="govuk-hint">
                        The Ukprn of the provider for the apprenticeship.
                    </span>
                    <input asp-for="Ukprn" id="ukprn" class="govuk-input govuk-input--width-20" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="CourseName" class="govuk-label">
                        Course name
                    </label>
                    <span id="course-name-hint" class="govuk-hint">
                        The name of the course for the apprenticeship.
                    </span>
                    <input asp-for="CourseName" id="courseName" class="govuk-input govuk-input--width-20" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="ApprenticeName" class="govuk-label">
                        Apprentice name
                    </label>
                    <span id="apprentice-name-hint" class="govuk-hint">
                        Apprentice name to use when finding an apprenticeship.
                    </span>
                    <input asp-for="ApprenticeName" id="apprenticeName" class="govuk-input govuk-input--width-20" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="StartDate" class="govuk-label">
                        Start date
                    </label>
                    <span id="start-date-hint" class="govuk-hint">
                        The start date of the apprenticeship.
                    </span>
                    <input asp-for="StartDate" id="startDate" class="govuk-input govuk-input--width-20" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="EndDate" class="govuk-label">
                        End date
                    </label>
                    <span id="end-date-hint" class="govuk-hint">
                        The end date of the apprenticeship.
                    </span>
                    <input asp-for="EndDate" id="endDate" class="govuk-input govuk-input--width-20" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="SelectedStatus" class="govuk-label">
                        Apprenticeship status
                    </label>
                    <span id="status-hint" class="govuk-hint">
                        The current status of the apprenticeship.
                    </span>
                    @Html.DropDownListFor(model => model.SelectedStatus, new SelectList(Model.Statuses, "Value", "Text"), htmlAttributes: new { @class = "govuk-input govuk-input--width-20" })
                </div>
                <div class="govuk-form-group">
                    <button class="govuk-button" data-module="govuk-button" id="submitSearchFormButton">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="searchResults" style="display:none">
    <form id="searchResultsForm" method="post" asp-action="@RouteNames.Approval_StopApprenticeship">
        <table id="apprenticeshipResultsTable"
               data-toggle="table"
               data-pagination="true"
               data-search="true"
               data-click-to-select="true"
               data-sortable="true"
               data-side-pagination="client"
               data-id-field="id"
               data-checkbox-header="false"
               data-select-item-name="id"
               data-maintain-meta-data="true"
               style="table-layout: fixed">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col"
                        class="col-wrap"
                        data-field="id"
                        data-visible="false">
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-field="state"
                        data-checkbox="true"
                        data-width="2"
                        data-width-unit="%">
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="firstName"
                        data-width="10"
                        data-width-unit="%">
                        First Name
                    </th>

                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="lastName"
                        data-width="10"
                        data-width-unit="%">
                        Last Name
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="employerName"
                        data-width="10"
                        data-width-unit="%">
                        Employer Name
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="providerName"
                        data-width="10"
                        data-width-unit="%">
                        Provider Name
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="courseName"
                        data-width="10"
                        data-width-unit="%">
                        Course Name
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="startDate"
                        data-width="10"
                        data-formatter="dateFormatter"
                        data-width-unit="%">
                        Start Date
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="endDate"
                        data-width="10"
                        data-formatter="dateFormatter"
                        data-width-unit="%">
                        End Date
                    </th>
                    <th scope="col"
                        class="col-wrap"
                        data-sortable="true"
                        data-field="status"
                        data-width="10"
                        data-width-unit="%">
                        Status
                    </th>
                </tr>
            </thead>
        </table>
        <input type="hidden" id="employerName" name="EmployerName" />
        <input type="hidden" id="providerName" name="ProviderName" />
        <input type="hidden" id="courseName" name="CourseName" />
        <input type="hidden" id="apprenticeName" name="ApprenticeName" />
        <input type="hidden" id="startDate" name="StartDate" />
        <input type="hidden" id="endDate" name="EndDate" />
        <input type="hidden" id="status" name="Status" />
        <input type="hidden" id="selectedIds" name="SelectedIds" />
        <button class="govuk-button" data-module="govuk-button">Stop apprenticeship(s)</button>
    </form>
</div>
<div class="govuk-grid-row" id="searchApprenticeshipsError" style="display:none;"></div>

@section scripts {

    <script type="text/javascript">
        var selections = [];

        $(document).ready(function () {
            var table = $('#apprenticeshipResultsTable');

            $('#submitSearchFormButton').on('click', function (evt) {

                evt.preventDefault();
                $(this).prop("disabled", true);
                $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
                resetSearchResults();

                $.post('@Url.Action(RouteNames.CommitmentsData_SearchApprenticeships,"CommitmentsData")', $('#searchForm').serialize(), function (data) {
                    $('#submitSearchFormButton').prop("disabled", false);
                    $('#submitSearchFormButton').html("Submit");
                    if (data.errorTitle != null) {
                        var errorHtml = '<h4>' + data.errorTitle + '</h4><p>' + data.errorMessage + '</p>';
                        $('#searchApprenticeshipsError').html(errorHtml).show();
                        $('html,body').animate({ scrollTop: $('#searchApprenticeshipsError').offset().top }, 'slow');
                    } else {
                        table.bootstrapTable('load', data);
                        $('#searchResults').show();
                        $('html,body').animate({ scrollTop: $('#apprenticeshipResultsTable').offset().top }, 'slow');
                    }
                });
            });

            $('#searchResultsForm').submit(function () {

                var idList;
                var selectedRows = $.map(table.bootstrapTable('getSelections'), function (row) {
                    return row.id
                });

                if (selectedRows.length == 0) {
                    return false;
                }

                idList = selectedRows.join(", ");

                $('#searchResultsForm #employerName').val($('#searchForm #employerName').val());
                $('#searchResultsForm #providerName').val($('#searchForm #providerName').val());
                $('#searchResultsForm #courseName').val($('#searchForm #courseName').val());
                $('#searchResultsForm #apprenticeName').val($('#searchForm #apprenticeName').val());
                $('#searchResultsForm #startDate').val($('#searchForm #startDate').val());
                $('#searchResultsForm #endDate').val($('#searchForm #endDate').val());
                $('#searchResultsForm #status').val($('#searchForm #SelectedStatus :selected').val());
                $('#searchResultsForm #selectedIds').val(idList);
                return true;
            });
        });

        function resetSearchResults() {
            $('#searchResults').hide();
            $('#searchApprenticeshipsError').hide();
        }

        function dateFormatter(value) {
            return new Date(value).toLocaleDateString("en-GB")
        }
    </script>
}
