@{
    ViewData["Title"] = "Support Portal";
    @model SearchApprenticeshipsViewModel
    @using SFA.DAS.Tools.Support.Web.Configuration
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Search for an Apprenticeship to Stop.
        </h1>
        @*asp-route="@ApprovalsRouteNames.SearchApprenticeships"*@
        <div asp-validation-summary="ModelOnly" class="govuk-error-message"></div>
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
            <div class="govuk-form-group">
                <label asp-for="EmployerName" class="govuk-label">
                    Employer Name
                </label>
                <span id="employer-name-hint" class="govuk-hint">
                    The name of the employer for the apprenticeship.
                </span>
                <input asp-for="EmployerName" id="employerName" class="govuk-input govuk-input--width-20" />
            </div>
            <div class="govuk-form-group">
                <label asp-for="ProviderName" class="govuk-label">
                    Provider Name
                </label>
                <span id="provider-name-hint" class="govuk-hint">
                    The name of the provider for the apprenticeship.
                </span>
                <input asp-for="ProviderName" id="providerName" class="govuk-input govuk-input--width-20" />
            </div>
            <div class="govuk-form-group">
                <label asp-for="CourseName" class="govuk-label">
                    Course Name
                </label>
                <span id="course-name-hint" class="govuk-hint">
                    The name of the course for the apprenticeship.
                </span>
                <input asp-for="CourseName" id="courseName" class="govuk-input govuk-input--width-20" />
            </div>
            <div class="govuk-form-group">
                <label asp-for="SearchTerm" class="govuk-label">
                    Search Term
                </label>
                <span id="search-term-hint" class="govuk-hint">
                    Generic search term to use finding an apprenticeship.
                </span>
                <input asp-for="SearchTerm" id="searchTerm" class="govuk-input govuk-input--width-20" />
            </div>
            <div class="govuk-form-group">
                <label asp-for="StartDate" class="govuk-label">
                    Start Date
                </label>
                <span id="start-date-hint" class="govuk-hint">
                    The start date of the apprenticeship.
                </span>
                <input asp-for="StartDate" id="startDate" class="govuk-input govuk-input--width-20" />
            </div>
            <div class="govuk-form-group">
                <label asp-for="EndDate" class="govuk-label">
                    End Date
                </label>
                <span id="end-date-hint" class="govuk-hint">
                    The end date of the apprenticeship.
                </span>
                <input asp-for="EndDate" id="endDate" class="govuk-input govuk-input--width-20" />
            </div>
            <div class="govuk-form-group">
                <button class="govuk-button" data-module="govuk-button" id="submitSearchFormButton">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.input-validation-error').addClass('govuk-input--error').removeClass('input-validation-error');
            $('.govuk-input--error').closest('div.govuk-form-group').addClass('govuk-form-group--error');
        });

        completed = () => {
            alert('Posted using Unobtrusive AJAX');
        };
    </script>
}