@using SFA.DAS.Tools.Support.Web.Configuration

 <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Error retrieving apprenticeship(s).
            </h1>
            <p class="govuk-body">
                Please return to the <a asp-action="@RouteNames.Approval_SearchApprenticeships">search</a> to try again.
            </p>
        </div>
    </div>