@using SFA.DAS.Tools.Support.Web.Configuration

<script type="text/javascript">
        var selections = [];

        $(document).ready(function () {
            var table = $('#apprenticeshipResultsTable');

            $('#submitSearchFormButton').on('click', function (evt) {

                evt.preventDefault();
                $(this).prop("disabled", true);
                $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
                resetSearchResults();

                $.post('@Url.Action(RouteNames.CommitmentsData_SearchApprenticeships,"CommitmentsData")', $('#searchForm').serialize(), function (data) {
                    $('#submitSearchFormButton').prop("disabled", false);
                    $('#submitSearchFormButton').html("Submit");
                    if (data.errorTitle != null) {
                        var errorHtml = '<h4>' + data.errorTitle + '</h4><p>' + data.errorMessage + '</p>';
                        $('#searchApprenticeshipsError').html(errorHtml).show();
                        $('html,body').animate({ scrollTop: $('#searchApprenticeshipsError').offset().top }, 'slow');
                    } else {
                        table.bootstrapTable('load', data);
                        $('#searchResults').show();
                        $('html,body').animate({ scrollTop: $('#apprenticeshipResultsTable').offset().top }, 'slow');
                    }
                });
            });

            $('#searchResultsForm').submit(function () {

                var idList;
                var selectedRows = $.map(table.bootstrapTable('getSelections'), function (row) {
                    return row.id
                });

                if (selectedRows.length == 0) {
                    return false;
                }

                idList = selectedRows.join(", ");

                $('#searchResultsForm #employerName').val($('#searchForm #employerName').val());
                $('#searchResultsForm #providerName').val($('#searchForm #providerName').val());
                $('#searchResultsForm #ukprn').val($('#searchForm #ukprn').val());
                $('#searchResultsForm #courseName').val($('#searchForm #courseName').val());
                $('#searchResultsForm #apprenticeNameOrUln').val($('#searchForm #apprenticeNameOrUln').val());
                $('#searchResultsForm #startDate').val($('#searchForm #startDate').val());
                $('#searchResultsForm #endDate').val($('#searchForm #endDate').val());
                $('#searchResultsForm #status').val($('#searchForm #SelectedStatus :selected').val());
                $('#searchResultsForm #selectedIds').val(idList);
                return true;
            });
        });

        function resetSearchResults() {
            $('#searchResults').hide();
            $('#searchApprenticeshipsError').hide();
        }

        function dateFormatter(value) {
            return new Date(value).toLocaleDateString("en-GB")
        }
    </script>