@model ResumeApprenticeshipViewModel
@using SFA.DAS.Tools.Support.Web.Configuration
@{
    ViewData["Title"] = "Support Portal";
}

<partial name="Apprenticeship/_Styles"/>

@if (Model != null && Model.HasError)
{
    <partial name="_Error"/>
}
else
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Resume apprenticeships
            </h1>
        </div>
        <div asp-validation-summary="ModelOnly" id="searchFormValidationSummary" class="govuk-error-message"></div>
    </div>
    <div>
        <script type="application/json" id="apprenticeshipsDataContainer">@Html.Raw(Model.GetApprenticesTableData())</script>
        <form id="apprenticeshipsForm" method="post">
            <partial name="Apprenticeship/_PauseAndResumeTable"/>
            <br/>
            <input type="hidden" asp-for="SearchParams.EmployerName"/>
            <input type="hidden" asp-for="SearchParams.ProviderName"/>
            <input type="hidden" asp-for="SearchParams.Ukprn"/>
            <input type="hidden" asp-for="SearchParams.CourseName"/>
            <input type="hidden" asp-for="SearchParams.ApprenticeNameOrUln"/>
            <input type="hidden" asp-for="SearchParams.StartDate"/>
            <input type="hidden" asp-for="SearchParams.EndDate"/>
            <input type="hidden" asp-for="SearchParams.SelectedStatus"/>
            <input type="hidden" id="apprenticeshipsData" name="ApprenticeshipsData"/>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-button-group">
                        <button asp-route="@RouteNames.Approval_CancelResumeApprenticeship" class="govuk-button" data-module="govuk-button" id="cancelButton">Back</button>
                        @if (!Model.ApprenticesResumedCompleted)
                        {
                            <button asp-route="@RouteNames.Approval_ResumeApprenticeshipConfirmation" class="govuk-button" data-module="govuk-button" id="okButton">Resume apprenticeship(s)</button>
                        }
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    @if (Model.ApprenticesResumedCompleted)
                    {
                        <button asp-route="@RouteNames.ResumeUsers" class="govuk-button right" data-module="govuk-button" id="resumeUsersButton">Reinstate User(s)</button>
                    }
                </div>
            </div>

        </form>
    </div>

    @section scripts {
        <partial name="Apprenticeship/_Scripts"/>
    }
}