<p class="govuk-body">Enter a date below to set the same date for each apprenticeship.</p>
<div>
    <input type="date" class="govuk-input govuk-input--width-20" id="bulkDate" />
    <button class="govuk-button" data-module="govuk-button" id="btnSetBulkDate">
        Set
    </button>
    <button class="govuk-button" data-module="govuk-button" id="btnClearBulkDate">
        Clear
    </button>
</div>