<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with this form.
        </span>
    </summary>
    <div class="govuk-details__text">
        For each of the apprenticeships below, select a valid date and confirm by clicking the button at the bottom of the page.
    </div>
</details>